/* src/App.css */

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

svg {
  flex: 1;
  width: 4000px;
  height: 100%;
}

.info-panel {
  width: 550px;
  padding: 20px;
  font-size: small;
  background: #f0f0f0;
  overflow-y: auto;
  border-left: 1px solid #ccc;
}

.loading-animation {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
  margin-top: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22a6b3;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

.top-right-corner {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: right;
}

.top-right-corner h1 {
  margin: 0;
}

.top-right-corner button {
  margin: 5px 0;
}
